<html>
    <head>
        <title>
            result
        </title>
    </head>
    <body>
        {% block content %}
        <table style="border:1px solid #ddd;padding:20px;display:block;margin:auto;margin-top:50px;width:22%;">
            <tr>
                <td><h1>USER details</h1></td>
            </tr>
            <tr>
                <td>User name</td>
                <td>{{firstname}}</td>
            </tr>
            <tr>
                <td>Password</td>
                <td>{{password}}</td>
            </tr>
        </table>
        {% endblock %}
    </body>
</html>